@import url(base.css);

body {
    background-color: white;
    color: #4d4d4d;
    font: 12px/1.5 Arial, Helvetica, SimSun, sans-serif;
}

.header {
    height: 70px;
    background-color: #f25630;
    min-width: 1280px;
    position: relative;
}

.header-title {
    min-width: 188px;
    min-height: 70px;
    border-right: solid 1px #c2c2c2;
    width: 188px;
    height: 70px;
}

.side-wrap {
    top: 70px;
    width: 188px;
    bottom: 0;
    overflow: auto;
    position: absolute;
    border-right: solid 1px #c2c2c2;
    background-color: #ffffff;

}

.menu-list {
    padding: 0 18px;
}

.menu-list a {
    color: #666;
}

.menu-list a:hover {
    border-color: #e6e6e6;
    background-color: #f7f7f7;
}

.menu {
    padding-top: 21px;
    border-bottom: solid 1px #c2c2c2;
}

.menu-hd {
    position: relative;
    height: 30px;
    line-height: 30px;
    color: #666;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
}

.extend {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
}

.extend:link, .extend:visited {
    color: #999;
    text-decoration: none;
}

.extend:hover {
    color: #cc220b;
}

.icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    background: url("../imgs/contract-icon.png") no-repeat;
}

.icon-fold {
    background-position: 0 0;
}

.icon-unfold {
    background-position: -16px 0;
}

.icon-contract {
    background-position: 0 -16px;
    margin: 0 2px 3px 0;
}

.menu-bd {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.menu-bd li {
    display: block;
    margin-bottom: 4px;
}

.menu-bd a {
    padding-left: 24px;
    display: block;
    height: 24px;
    line-height: 24px;
    border-radius: 3px;
    border: 1px solid #fff;
}

.now a,
.now a:hover {
    background-color: #faeecf;
    border-color: #fad996;
    position: relative;
}

.now a:before,
.now a:after {
    position: absolute;
    width: 0;
    height: 0;
    content: ' ';
    display: block;
    border: 5px dashed transparent;
}

.now a:before {
    border-left: 5px solid #fad996;
    top: 5px;
    right: -11px;
}

.now a:after {
    border-left: 5px solid #faeecf;
    top: 5px;
    right: -10px;
}

/*now框中箭头的另一种写法*/

/*.arrow, .arrow b {*/
/*display: inline-block;*/
/*position: absolute;*/
/*width: 0;*/
/*height: 0;*/
/*line-height: 0;*/
/*font-size: 0;*/
/*border-style: dashed;*/
/*border-width: 5px;*/
/*border-color: transparent;*/
/*}*/

/*.arrow {*/
/*border-left: 5px solid #fad996;*/
/*top: 7px;*/
/*right: -10px;*/
/*}*/

/*.arrow b {*/
/*border-left: 5px solid #faeecf;*/
/*top: -5px;*/
/*right: -4px;*/
/*}*/

.main-wrap {
    top: 70px;
    left: 189px;
    overflow: auto;
    position: absolute;
    background-color: #ffffff;
    right: 0;
    bottom: 0;
}

.main {
    width: 920px;
    padding: 20px 0 0 20px;
}

.form-area {
    background-color: #FffFff;
    border: solid 1px #c2c2c2;
    padding: 12px 20px 0 20px;
    margin-bottom: 20px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.form-lst {
    position: relative;
}

.form-lst li {
    height: 26px;
    line-height: 26px;
    margin-bottom: 16px;
}

.form-text {
    position: relative;
}

.form-text input {
    width: 240px;
    height: 14px;
    padding: 5px 4px;
    border: 1px solid #80bfeb;
    vertical-align: middle;
}

.form-text select {
    width: 240px;
    height: 26px;
    border: 1px solid #80bfeb;
}

.form-tit {
    margin-right: 10px;
    text-align: right;
}

.required {
    color: #ec4d2d;
    vertical-align: middle;
}

.icon-exchange {
    background-position: -16px -16px;
    position: absolute;
    top: 27px;
    right: -31px;
    cursor: pointer;
}

.icon-ellipsis {
    background-position: -32px 0;
    position: absolute;
    top: 5px;
    right: 4px;
}

.icon-date {
    position: absolute;
    background-position: -32px -16px;
    top: 5px;
    right: 5px;
}

.content-tit {
    height: 25px;
    line-height: 25px;
    margin-bottom: 10px;
}

.content-tit h4 {
    font-size: 14px;
    font-weight: bold;
    padding-top: 2px;
}

.content-tit button {
    height: 25px;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    padding: 0 15px;
    background-color: #f6f6f6;
    border: 1px solid #c2c2c2;
}

.contract-content {
    margin-bottom: 20px;
}

.contract-content img {
    width: 100%;
}

.form-text-sub {
    position: relative;
}

.form-text-sub input {
    width: 240px;
    height: 14px;
    padding: 5px 4px;
    border: 1px solid #80bfeb;
    vertical-align: middle;
}

.form-text-sub select {
    width: 240px;
    height: 26px;
    border: 1px solid #80bfeb;
}

.form-sub-tit {
    margin-right: 10px;
    text-align: right;
    width: 69px;
}

.first-item {
    margin-right: 60px;
}

.form-text-sub .start-area,
.form-text-sub .end-area {
    position: relative;
    display: inline-block;
}

.form-text-sub .start-date,
.form-text-sub .end-date {
    width: 119px;
    height: 14px;
}

.form-text-sub .prj-select {
    width: 266px;
}

.form-text-sub .contract-price {
    width: 258px;
}

.form-text-sub .contract-tax {
    width: 100px;
}

.upload {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 0 10px;
    border-radius: 2px;
    overflow: hidden;
    height: 26px;
    line-height: 24px;
    text-align: center;
    color: #333;
    background-color: #f1f1f1;
}

.upload .file {
    position: absolute;
    font-size: 100px;
    top: 0;
    right: 0;
}

.text-after {
    color: #d3d3d3;
}