@import url("reset.css");

.main {
    width: 500px;
    margin: 0 auto;
}

.title {
    margin: 10px 0;
}

.press-in input {
    width: 478px;
    height: 20px;
    line-height: 20px;
    padding: 10px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0 rgba(0,0,0,.3);
}

.press-in input:focus {
    outline: none;
}

.all-resolve {
    margin: 10px 0 30px;
}

.finish {
    text-decoration: line-through;
}

.task-list {
    margin-bottom: 10px;
}

.task-item {
    height: 30px;
    line-height: 30px;
    margin-bottom: 15px;
    border-bottom: solid 1px #cfcfcf;
}

.addTime {
    padding-right: 5px;
}

.remove {
    padding-right: 5px;
    font-size: 20px;
    color: #f00;
    font-weight: bold;
}

.remove:hover {
    text-decoration: none;
}

.task-count{
    padding-bottom: 30px;
}

.task-count ul li {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding-right: 20px;

}

.count {
    display: inline-block;
    background-color: #cccccc;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
}

[v-cloak] { display: none ;}