<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="./css/todo.css"/>
</head>
<body>
<div class="main" id="app">
    <div class="h1 title">我的任务列表</div>
    <div class="press-in">
        <input type="text" placeholder="增加我的任务" @keyup.13="submit" class="js-add"/>
    </div>
    <div class="all-resolve">
        <input id="allResolve"  type="checkbox" @change="allResolve" v-model="checked"/>
        <label for="allResolve">标记所有为已解决</label>
    </div>
    <div class="task-list js-task-list">
        <template v-for="task in tasks">
            <div data-index="" class="task-item js-task-item cf">
                <div class="fl" >
                    <template v-if="task.isFinish">
                        <input type="checkbox" checked class="js-resolve"   id="{{$index}}"/>
                        <label for="{{$index}}" class="js-content finish" v-show="editTask!= task" @dblclick="editMode(task,$event)" >{{task.value}}</label>
                        <input type="text"
                               v-model="task.value"
                               v-todo-focus = "editTask == task"
                               v-show="editTask == task"
                               @blur="update(task,$event)"
                               @keyup.13="update(task,$event)"
                               @keyup.esc="cancelEdit(task)"/>
                    </template>

                    <template v-if="!task.isFinish">
                        <input type="checkbox" class="js-resolve"  id="{{$index}}"/>
                        <label  for="{{$index}}" class="js-content" v-show="editTask != task" @dblclick="editMode(task,$event)">{{task.value}}</label>

                        <input type="text"
                               v-model="task.value"
                               v-todo-focus = "editTask == task"
                               v-show="editTask == task"
                               @blur="update(task,$event)"
                               @keyup.13="update(task,$event)"
                               @keyup.esc="cancelEdit(task)"/>
                    </template>
                </div>
                <div class="fr">
                    <span class="addTime">{{task.addTime}}</span>
                    <a href="javascript:void(0);" class="remove js-remove"  @click="delete($index,$event)">&times;</a>
                </div>
            </div>
        </template>
    </div>
    <div class="task-count">
        <ul>
            <li>
                <label>未完成:</label>
                <span class="count js-unfinish" v-cloak>{{tasks.length}}</span>
            </li>
            <li>
                <label>已完成：</label>
                <span class="count js-finish" v-cloak>{{tasks | finishState true}}</span>
            </li>
            <li>
                <label>总数：</label>
                <span class="count js-total" v-cloak>{{tasks | finishState false}}</span>
            </li>
        </ul>
    </div>
</div>
<script src="./js/vue.js"></script>
<script src="./js/moment.min.js"></script>
<script src="./js/todo.js"></script>
</body>
</html>