.icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    background: url("../imgs/coop-icon.png") no-repeat;
    overflow: hidden;
}

.icon-maitong {
    background-position: 0 0;
}
