@import url(base.css);
@import url(coop-icon.css);

body {
    font: 12px/1.5 Arial, 'microsoft yahei';
}

.mr10 {
    margin-right: 10px;
}

.header {
    background-color: #f7f7f7;
    border-bottom: solid 1px #e3e3e3;
    height: 32px;
}

.header-main {
    width: 1190px;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    margin: 0 auto;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
}

.header-left a {
    color: #0066cc;
    padding: 0 10px 0 9px;
}

.header-left a:hover {
    color: #cc220b;
}

.login {
    border-right: 1px solid #cccccc;
}

.site-item {
    padding: 0 9px;
    border-right: solid 1px #cccccc;
    position: relative;
    vertical-align: top;
}

.site-item-last {
    border: 0;
}

.site-item span {
    padding-right: 12px;
}

.arrow-up {
    border: 5px solid transparent;
    border-top-color: #999999;
    top: 4px;
    right: 12px;
    display: inline-block;
    position: absolute;
}

.nav {
    height: 207px;
    background-color: #ffffff;
    margin-bottom: 90px;
}

.nav-top {
    height: 100px;
    width: 1190px;
    margin: 0 auto;
}

.nav-top-left {
    width: 230px;
    float: left;
}

.nav-top-left h1 {
    width: 231px;
    height: 66px;
    padding-top: 18px;
}

.nav-top-left h1 a {
    width: 100%;
}

.nav-top-right {
    float: right;
    font-size: 16px;
}

.top-list {
    padding-top: 40px;
    list-style: none;
}

.nav-top-right li {
    margin-right: 50px;
    float: left;
}

.top-list-item {
    color: #7d7d7d;
    padding: 4px 0;
}

.top-list-item:hover,
.top-now {
    color: #bf3b18;
    border-bottom: solid 2px #bf3b18;
}

.nav-middle {
    height: 46px;
    line-height: 46px;
    background-color: #da4120;
}

.nav-middle-main {
    width: 1190px;
    height: 46px;
    line-height: 46px;
    vertical-align: middle;
    margin: 0 auto;
}

.mid-list {
    list-style: none;
    font-size: 16px;
}

.mid-list li {
    float: left;
    margin: 0 25px 0 30px;
}

.mid-list-item {
    color: #ffd5cc;
}

.mid-list-item:hover,
.middle-now {
    color: #fffa6f;
}

.nav-bottom {
    height: 60px;
    line-height: 60px;
    background-color: #fafafa;
}

.nav-bottom-main {
    width: 1190px;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    margin: 0 auto;
}

.bottom-list {
    list-style: none;
    font-size: 16px;
    font-weight: bold;
}

.bottom-list li {
    float: left;
}

.bottom-list-item {
    width: 380px;
    height: 60px;
    line-height: 60px;
    color: #333333;
    display: inline-block;
    text-align: center;
}

.bottom-list-item:hover,
.bottom-now {
    background-color: #efeaea;
}