.icon {
	width: 16px;
	height: 16px;
	background: url("../imgs/cooperation-icon.png") no-repeat;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
}

.icon-maitong {
	background-position: 0 0;
	padding-bottom: 4px;
}