@import "base.css";

.main-pic, .main-info {
    width: 1190px;
    margin: 0 auto;
    margin-bottom: 21px;
}

.main-pic img {
    width: 1190px;
    height: 40px;
}

.floor {
    margin-bottom: 21px;
}

.floor h3 {
    height: 35px;
    line-height: 35px;
    font-weight: bold;
    font-size: 20px;
    font-family: "Microsoft YaHei", sans-serif;
    float: left;
}

.floor-hd {
    border-bottom: 2px solid #c2c2c2;
}

.floor-bd {
    border-bottom: solid 1px #c2c2c2;
    border-left: solid 1px #c2c2c2;
    border-right: solid 1px #c2c2c2;
    width: 1190px;
    height: 285px;
}

.floor-hd em {
    height: 33px;
    color: #e13335;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
}

.hd-end {
    float: right;
    height: 35px;
    line-height: 35px;
}

.hd-end a {
    color: #333333;
    font-size: 12px;
}

.hd-end a:hover {
    color: #e13335;
}

.floor-left {
    float: left;
    width: 240px;
    height: 285px;
}

.floor-left img {
    width: 240px;
    height: 285px;
}

.floor-middle {
    float: left;
    width: 440px;
    height: 270px;
    padding-top: 15px;
    padding-left: 24px;
    border-right: solid 1px #c2c2c2;
}

.menu-list {
    margin-bottom: 20px;
}

.list-item {
    line-height: 24px;
    height: 24px;
}

.list-item a {
    float: left;
    font-size: 12px;
    font-family: "Microsoft YaHei", sans-serif;
    margin-right: 15px;
    color: #333333;
    width: 65px;
}

.list-item a:hover {
    color: #e13335;
}

.item-hd {
    font-weight: bold;
}

.floor-right {
    float: left;
    padding: 15px 24px;
}

.right-wrap {
    background-color: #003300;
    height: 255px;
    width: 437px;
}

.right-img {
    padding-left: 24px;
    margin-bottom: 24px;
}

.rec-pro {
    float: left;
}

.rec-pro ul {
   list-style: none;
}

.rec-pro li {
    float: left;
    margin-left: 5px;
}