.icon{
	display:inline-block;
	overflow:hidden;
	vertical-align:middle;
	background:url("../img/icon.png") no-repeat;
}
.icon-collect{
	width:15px;
	height:15px;
	background-position:0 0;
}
.icon-buy{
	width:23px;
	height:21px;
	background:-15px 0;
}