body {
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	text-size-adjust: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font: c(36)/1.5 Arial,'microsoft yahei',san-serif;
	color: #333;
}

ul,ol{
	margin: 0;
	padding: 0;
	list-style: none;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}

.cf:before,
.cf:after{
	content: "";
	display: table;
}
.cf:after{
	clear: both;
}