<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>tree</title>
</head>
<ul id="app">
	<tree :node="treeNodes"></tree>
</ul>
<body>
<script src="../public/js/vue.js"></script>
<script type="text/x-template" id="tree-template">
	<li>
		<div>
			<input :id="node.name" type="checkbox" v-model="node.checked" @change="toggle(node)"/>
			<label :for="node.name">{{node.name}}</label>
			<template v-if="node.children && node.children.length > 0">
				<ul>
					<tree v-for="node in node.children" :node="node"></tree>
				</ul>
			</template>
		</div>
	</li>
</script>
<script>
	Vue.component('tree', {
		template : '#tree-template',
		replace : true,
		props : {
			node : Object
		},
		methods : {
			childFn : function(node){
				if(!node.$children) return;
				var _that = this;
				var children = node.$children;
				if(children && children.length > 0){
					if(node.node.checked){
						children.forEach(function(obj, i){
							obj.node.checked = true;
							if(obj.$children && obj.$children.length > 0){
								_that.childFn(obj);
							}
						})
					} else {
						children.forEach(function(obj, i){
							obj.node.checked = false;
							if(obj.$children && obj.$children.length > 0){
								_that.childFn(obj);
							}
						})
					}
				}
			},
			parentFn : function(node){
				if(!node.$parent) return;
				var _that = this;
				var parent = node.$parent;
				var allSelected = true;
				var children = parent.node.children;
				if(children && children.length > 0){
					children.forEach(function(obj, i){
						if(!obj.checked){
							allSelected = false;
						}
					})
					if(allSelected){
						parent.node.checked = true;
						_that.parentFn(parent);
					} else {
						parent.node.checked = false;
					}
				}
			},
			toggle : function(node){
				// 子集处理
				this.childFn(this);
				// 父级处理
				this.parentFn(this);
			}
		}
	})

	var vm = new Vue({
		el : '#app',
		data : {
			treeNodes : {
				name : 'level',
				checked : false,
				children : [
					{
						name : '1_a',
						level : '1',
						checked : false,
						children : [
							{
								name : '1_a_2_a',
								level : '2',
								checked : false,
								children : [
									{
										name : '1_a_2_a_3_a',
										level : '3',
										checked : false,
										children : []
									},
									{
										name : '1_a_2_a_3_b',
										level : '3',
										checked : false,
										children : []
									}
								]
							},
							{
								name : '1_a_2_b',
								level : '2',
								checked : false,
								children : [
									{
										name : '1_a_2_b_3_a',
										level : '3',
										checked : false,
										children : []
									}
								]
							}

						]
					},
					{
						name : '1-b',
						level : '1',
						checked : false,
						type : 'level1',
						children : [
							{
								name : '1_b_1',
								level : '2',
								checked : false,
								children : []
							},
							{
								name : '1_b_2',
								level : '2',
								checked : false,
								children : []
							},
							{
								name : '1_b_3',
								level : '2',
								checked : false,
								children : []
							}
						]
					},
					{
						name : '1_c',
						level : '1',
						checked : false,
						children : [
							{
								name : '1_c_1',
								level : '3',
								checked : false,
								children : []
							}
						]
					},
					{
						name : '1_d',
						level : '1',
						checked : false,
						children : []
					}
				]
			}
		}
	})
</script>
</body>
</html>